<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi harum optio autem cum soluta id deserunt modi fugiat quos labore repellendus vero dolores iste quis, non maxime distinctio? Tenetur, sequi.</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope">  nah.nunes23@gmail.com</i></li>
                <li><i class="fa-solid fa-phone"> (32)98505-4844</i></li>
                <li><i class="fa-brands fa-whatsapp"></i> (32)985054844</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy;Todos os direitos reservados. 2022
    </section>
</footer>
